<h2>Product List</h2>
<ul>
  <li *ngFor="let product of products | sort; let i=index" (click)="selectedProduct = product">
    {{i}}. {{product.name}}
  </li>
</ul>

<span [hidden]="!msg">{{ msg }}</span>


<app-product-detail
  *ngIf="selectedProduct; else noProduct"
  [product]="selectedProduct"
  (bought)="onBuyEvent()">
</app-product-detail>

<span *ngIf="!selectedProduct">No product selected!</span>

<ng-template #noProduct>
  <p>No product selected!</p>
</ng-template>

<div #cardItems style="background-color: aquamarine;">
  <h3>Cart items</h3>

</div>
<!--

<h3>Offers</h3>
<ng-template appProductHost></ng-template> -->

<h2>Favorites</h2>
<app-favorites></app-favorites>

<div>
    <span app-copyright></span>
</div>
